# Playwright
node_modules/
**/dist
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
.env
.env.local
.env.prod
.env.dev
/src/.auth/
allure-results/
allure-report/
.env.dev
**/.DS_STORE